.App {
    /* height: 100vh; Full height of viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden; /
  }
  
  .heading-container{
    height: 25vh;
    position: absolute;
  }
  .garden-heading {
    font-size: 28px;
    text-align: center;
  }
  .canvas-container {
    position: absolute; /* Position the container absolutely */
    bottom: 0;          /* Stick it to the bottom of the window */
    left: 0;            /* Align it to the left */
    width: 100%;        /* Full width */
    height: 100vh;       /* Half the height of the viewport */
    border: 2px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-content {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .model-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .model-container canvas {
    width: 100%;
    height: 100%;
  }
  .header {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1; /* Ensures Info icon stays above the 3D model */
    cursor: pointer;
  }
  .info-cont {
    z-index: 50;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  